__pycache__/
*.pyc
.DS_Store

TOOLS.md
plan.md
error.md
deviceInfo_generated.json
artifacts/
$SUITE_DIR/
tmp_listenai_index-*.js

scripts/burn/app.bin
scripts/wavSource/wavSource
scripts/__pycache__/
scripts/py/__pycache__/
scripts/result/
scripts/_runtime/
scripts/package/
scripts/burn/burn_log/
